mat-form-field{
	width:75%;
	margin-left: 8em;
}
.text-align_center{
	text-align: center;
	margin-top:2rem;
	/*font-size: 2rem;*/
}
button{
	margin-left: 50em;
	width: 8rem;
	height:2rem;
	margin-bottom: 10em;
	margin-top: 5em;
}