<div class="mat-display-2 text-align_center">Update you item</div>
<form [formGroup]="myform" (ngSubmit)="submit(myform.value);">
	<mat-form-field appearance="outline">
		<mat-label>Product name</mat-label>
		<input formControlName="productName" matInput type="text" required />
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Category</mat-label>
		<input formControlName="category" matInput type="text" >
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Available Units</mat-label>
		<input formControlName="availableUnits" matInput type="number" >
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Unit Price</mat-label>
		<input formControlName="unitPrice" matInput type="number" >
	</mat-form-field>
	<div formGroupName="location">
		<mat-form-field appearance="outline">
			<mat-label>City</mat-label>
			<input formControlName="city" matInput type="text">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>State</mat-label>
			<input formControlName="state" matInput type="text">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Country</mat-label>
			<input formControlName="country" matInput type="text">
		</mat-form-field>
	</div>
	<mat-form-field appearance="outline">
		<mat-label>Description</mat-label>
		<input formControlName="description" matInput type="text">
	</mat-form-field>
	<div>
		<button mat-raised-button color="primary" type="Submit" [disabled]="myform.invalid">Submit</button>
	</div>
</form>