<div fxLayout="row" fxLayoutAlign="space-between">
	<mat-toolbar class="navbar" color="primary">
		<div class="mat-headline">My inventory</div>
		<div>
			<span><button mat-raised-button routerLink="addItemForm" routerLinkActive="active">
					<mat-icon>add</mat-icon> Add Item
				</button></span>
			<span><button mat-raised-button routerLink="viewItems" routerLinkActive="active">
					<mat-icon>shopping_cart</mat-icon>Checkout
				</button></span>
		</div>
	</mat-toolbar>
</div>
<router-outlet></router-outlet>