<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope) {
            $scope.CurrentDate = new Date();
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        <u>dd/MM/yyyy format</u><br /><span>{{CurrentDate | date:'dd/MM/yyyy'}}</span>
        <br />
        <br />
        <u>dd, MMMM yyyy format</u><br /><span>{{CurrentDate | date:'dd, MMMM yyyy, hh:mm:ss a'}}</span>
        <br />
        <br />
        <u>24 Hour time</u><br /><span>{{CurrentDate | date:'HH:mm:ss'}}</span>
        <br />
        <br />
        <u>12 Hour time</u><br /><span>{{CurrentDate | date:'hh:mm:ss a'}}</span>
    </div>
</body>
</html>