<div class="mat-display-2 text-align_center">List of items</div>
<!-- <input matInput type="text" placeholder="Search for employee" [(ngModel)]="itemsList"> -->
<div fxLayout fxLayoutAlign="center center">
	<mat-form-field appearance="outline" class="search-size">
		<input matInput type="text" [(ngModel)]="searchItem" placeholder="Search">
	</mat-form-field>
</div>
<mat-accordion>
	<mat-expansion-panel color="primary"
		*ngFor="let list of itemsList |filter:searchItem |orderBy: order | paginate: { itemsPerPage: 5, currentPage: p }"
		class="size">
		<mat-expansion-panel-header>
			<mat-panel-title class="font-size">{{list.productName}}</mat-panel-title>
			<mat-panel-description class="font-size">{{list.unitPrice+"/-"}}</mat-panel-description>
		</mat-expansion-panel-header>
		<p class="font-size">{{"Description: "+list.description}}</p>
		<p class="font-size">{{"Category: "+list.category}}</p>
		<p class="font-size">{{"Available units: "+list.availableUnits}}</p>
		<p class="font-size">{{"City: "+list.location.city}}</p>
		<p class="font-size">{{"State: "+list.location.state}}</p>
		<p class="font-size">{{"Country: "+list.location.country}}</p>
		<mat-action-row>
			<button mat-raised-button color="warn" type="submit" class="font-size"
				(click)="deletePage(list.id)">Delete</button>
			<button mat-raised-button color="primary" type="submit" class="font-size"
				(click)="updatePage(list)">Update</button>
		</mat-action-row>
	</mat-expansion-panel>
</mat-accordion>
<pagination-controls (pageChange)="p = $event"></pagination-controls>