.size{
	width: 90%;
	height: auto;
	margin:2rem 2rem 2rem 2rem;
	font-size: 4rem;
}
.font-size{
	font-size: 2rem;
}
.text-align_center{
	text-align: center;
	margin-top:2rem;
	/*font-size: 2rem;*/
}
button{
	margin-left: 2rem;
}
.align-left{
	justify-content:space-between;
}
.search-size{
	width: 90%;
	height: 20%;
	margin:2rem 2rem 2rem 2rem;
	font-size: 1rem;
}